
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

/* header section design */

header{
    background-image: url('../images/banner/banner3.png');
    width: auto;
    height: 808px;
}

.banner-text{
    color: #FFF;
    text-align: right;
    padding-top: 216px;
    padding-bottom: 360px;
    padding-right: 230px;
    padding-left: 845px;  
}

.wellcome-text{
    margin-top: 24px;
    margin-bottom: 30px;
    margin-left: 250px;
}

/* btn-primary */
.btn-primary{
    padding: 2px 22px;
    width: 160px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 6px;
    color: #005FAC;
}

/* main-start */

.container-1{
    margin-top: 230px;
    margin-left: 260px;
    margin-right: 260px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.person-image{
    height: 898px;
    padding-right: 130px;
}

.text-1{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-right: 150px;
}

.description-1{
    color: #444343;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 16px;
}

.list-item{
    color: #444343;
    font-size: 16px;
    font-weight: 800;
}

.Plans{
    text-align: center;
    color: #151414;  
    font-size: 40px;   
    font-weight: 800;
    margin-bottom: 60px;
    
}

.containner-2{
    display: flex;
    justify-content: center;
    gap: 50px;   
}

.my-img{ 
    margin-left: 10px;
    margin-bottom: 20px;
}

.img-title{
    color:#151414;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}
